/* _content/BlazorisePersianCalendar/BCalender.razor.rz.scp.css */
.calendar[b-1h0t9f7y3i] {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.first-day[b-1h0t9f7y3i] {
    grid-column-start: 3;
}

.circle[b-1h0t9f7y3i] {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
